$primary-gredient-color: transparent linear-gradient(263deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;;
$light: white;
$olive: green;
$black-color: #353047;
$color-with-opacity: rgba(53, 48, 71, 0.2); 
$color-subText: #ADA9BF; 
$semiTransparentWhite: rgba(255, 255, 255, 0.5);
$semiTransparentWhite60: rgba(255, 255, 255, 0.6);
$whiteWith5Opacity: rgba(255, 255, 255, 0.05);
$tablinkColor:rgba(43, 40, 56, 0.5);
$activeOrange: #FF7678;
$shadow-effect: #ABA3D626;
$dashboard-bg: #F7F7FF;
$rightPanel-color: #f8f9fa;
$badge-blue-bg: #EBFAFF;
$badge-purple-bg: #F8F4FF;
$badge-red-bg: #FFF2F2;
$badge-green-bg: #EFFFF9;
$pandingColor:#FF813E;
$successColor:#41A534;
$darkv2: #2B2838;
$activeLine: #5A4796;
$bg-lightv2: #E8E8E8;
$linkColor: #3F2985;
$linkTitle: #BBB7CD;
$subcontent: #A49FBC;
$subcontent50Opacity:rgba(164, 159, 188, 0.5);
$placeholderColor: rgba(137, 137, 159, 0.58);